.line {
  padding: 1rem 0 1rem 1rem;
  display: flex;
  justify-content: space-between;
  border-left: 5px solid #666;
  margin-bottom: 0.2rem;

  &:hover {
    color: #ffe300;
    border-left: 5px solid #ffe300;
    background-color: rgb(27, 27, 27);
    box-shadow: 3px 2px 10px #bbb;
  }
}

.header {
  font-weight: bold;
}

.name,
.birth,
.height {
  min-width: 30%;
}

.result a {
  text-decoration: none;
  color: black;
}

.pic {
  display: none;
  padding: 0;
}
