.button {
  margin-left: 0.75rem;
}

.people {
  max-width: 900px;
  margin: 0 auto;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.randomUser {
  margin-top: 2rem;
  text-align: center;
}
